body
{
    width: 100%;
    height: 100%;
    margin-left: 0px;
    margin-top: 0px;
}

#main
{
    width: 100%;
    height: 100%;
    display: -ms-grid;
    -ms-grid-columns: 1fr;
    -ms-grid-rows: 70px 1fr 300px;
    margin: 20px 20px 20px 20px;
    /*background-color: azure;*/
}

@media screen and (-ms-view-state: fullscreen-landscape)
{

    #headerDiv
    {
        -ms-grid-row: 1;
    }

    #playerInfoDiv
    {
        -ms-grid-row: 2;
    }

    #gameDiv
    {
        -ms-grid-row: 2;
        border: thin;
    }

    #headerDiv
    {
        margin-left: 40px;
    }

    #banner
    {
        width: 100%;
        height: 100%;
        -ms-grid-row: 3;
        display: -ms-grid;
        -ms-grid-columns: 120px 1fr;
        -ms-grid-rows: 1fr;
    }

    #backbutton
    {
        margin-top: 54px;
        margin-left: 40px;
    }

    #maintitle
    {
        -ms-grid-column: 2;
        -ms-grid-row-align: center;
    }

    #content
    {
        width: 100%;
        height: 100%;
        -ms-grid-row: 2;
    }

    #articlecontent
    {
        -ms-grid-row: 3;
        border: dashed;
    }

    #articlelist
    {
        width: 100%;
        height: 100%;
        -ms-grid-row: 3;
        border: dashed;
    }

        #articlelist .win-item
        {
            width: 200px;
            height: 80px;
        }

    .listItemTemplate
    {
        margin: 5px;
    }

    /*.listItemImage img {
        	width: 234px;
        	height: 165px;
        }*/

    .win-surface
    {
        margin-left: 30px;
    }

    #articlecontent
    {
        width: calc(100%-120px);
        height: 100%;
        padding-left: 80px;
        column-width: 480px;
        column-gap: 80px;
        overflow-x: scroll;
        overflow-y: hidden;
    }

        #articlecontent pre
        {
            background-color: #666;
            overflow-x: scroll;
            overflow-y: hidden;
        }
}

@media screen and (-ms-view-state: filled)
{
}

@media screen and (-ms-view-state: snapped)
{
}

@media screen and (-ms-view-state: fullscreen-portrait)
{
}


.red
{
    background-color: red;
    margin-left: 20px;
    margin-left: 20px;
    margin-bottom: 20px;
    margin-right: 20px;
}

.div1
{
    margin-left: 20px;
    margin-left: 20px;
    margin-bottom: 20px;
    margin-right: 20px;
}

.game section[role=main]
{
    margin-left: 120px;
    margin-right: 120px;
}

@media screen and (-ms-view-state: snapped)
{
    .game section[role=main]
    {
        margin-left: 20px;
        margin-right: 20px;
    }
}

@media screen and (-ms-view-state: fullscreen-portrait)
{
    .game section[role=main]
    {
        margin-left: 100px;
        margin-right: 100px;
    }
}
