body
{
    width: 100%;
    height: 100%;
    margin-left: 0px;
    margin-top: 0px;
}

#main
{
    width: 100%;
    height: 100%;
    display: -ms-grid;
    -ms-grid-columns: 1fr;
    -ms-grid-rows: 80px 600px 20px 1fr;
    margin: 20px 20px 20px 20px;
}

#header
{
    width: 100%;
    height: 100%;
    -ms-grid-row: 1;
    text-align: left;
}

#selectPlayer
{
    width: 100%;
    height: 100%;
    display: -ms-grid;
    -ms-grid-row: 2;
    -ms-grid-columns: 300px 120px 1fr;
    -ms-grid-rows: 50px 50px 50px;
    margin-left: 20px;
}

#labelPlayer
{
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    -ms-grid-row-align: center;
}

#textPlayer
{
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    -ms-grid-row-align: center;
}

#buttonPlayer
{
    -ms-grid-row: 2;
    -ms-grid-column: 2;
    -ms-grid-row-align: center;
}

#output
{
    -ms-grid-row: 2;
    -ms-grid-column: 3;
    -ms-grid-row-align: center;
}

#buttonPlay
{
    -ms-grid-row: 3;
    -ms-grid-column: 1;
    -ms-grid-row-align: center;
}

#game
{
    width: 100%;
    height: 100%;
    display: -ms-grid;
    -ms-grid-row: 2;
    -ms-grid-columns: 1fr;
    -ms-grid-rows: 80px 100px 100px 30px 80px;
    margin-left: 20px;
    margin-right: 20px;
}

#playersLabel
{
    -ms-grid-column: 1;
    -ms-grid-row: 1;
    margin-left: 20px;
    margin-top: 20px;
}

#myGame
{
    width: 100%;
    height: 100%;
    display: -ms-grid;
    -ms-grid-row: 2;
    -ms-grid-columns: 200px 1fr 1fr 1fr 1fr 1fr;
    -ms-grid-rows: 1fr;
    margin-left: 50px;
    margin-right: 50px;
}

#winGame
{
    width: 100%;
    height: 100%;
    display: -ms-grid;
    -ms-grid-row: 3;
    -ms-grid-columns: 200px 1fr 1fr 1fr 1fr 1fr;
    -ms-grid-rows: 1fr;
    margin-left: 50px;
    margin-right: 50px;
}

#resultMessage
{
    -ms-grid-row: 4;
    -ms-grid-row-align: center;
    -ms-grid-column-align: center;
}

#myChoiceLabel
{
    -ms-grid-column: 1;
    -ms-grid-row: 1;
    -ms-grid-row-align: center;
}
#winChoiceLabel
{
    -ms-grid-column: 1;
    -ms-grid-row: 1;
    -ms-grid-row-align: center;
}

#buttonrock1
{
    -ms-grid-column: 2;
    -ms-grid-row: 1;
}
#buttonrock2
{
    -ms-grid-column: 2;
    -ms-grid-row: 1;
}

#buttonpaper1
{
    -ms-grid-column: 3;
    -ms-grid-row: 1;
}
#buttonpaper2
{
    -ms-grid-column: 3;
    -ms-grid-row: 1;
}

#buttonscissors1
{
    -ms-grid-column: 4;
    -ms-grid-row: 1;
}
#buttonscissors2
{
    -ms-grid-column: 4;
    -ms-grid-row: 1;
}

#myChoiceResult
{
    -ms-grid-column: 5;
    -ms-grid-row: 1;
    -ms-grid-row-align: center;
    margin-left: 20px;
}
#winChoiceResult
{
    -ms-grid-column: 5;
    -ms-grid-row: 1;
    -ms-grid-row-align: center;
    margin-left: 20px;
}

#myCount
{
    -ms-grid-column: 6;
    -ms-grid-row: 1;
    -ms-grid-row-align: center;
}
#winCount
{
    -ms-grid-column: 6;
    -ms-grid-row: 1;
    -ms-grid-row-align: center;
}

#news
{
    -ms-grid-row: 3;
}

#articlelist
{
    /*width: 100%;
    height: 100%;*/
    -ms-grid-column: 1;
    -ms-grid-row: 4;
    /*width: calc(100%-200px);*/
    height: 60px;
    /*border: 2px solid gray;*/
}

    #articlelist .win-item
    {
        width: 400px;
        height: 50px;
    }

/*.listItemTitle
{
    width: 400px;
    height: 10px;
}*/

#articlecontent
{
    width: 100%;
    height: 100%;
    -ms-grid-column: 1;
    -ms-grid-row: 3;
}

@media screen and (-ms-view-state: fullscreen-landscape)
{
/*
    #headerDiv
    {
        -ms-grid-row: 1;
    }

    #playerInfoDiv
    {
        -ms-grid-row: 2;
    }

    #gameDiv
    {
        -ms-grid-row: 2;
        border: thin;
    }

    #headerDiv
    {
        margin-left: 40px;
    }

    #banner
    {
        width: 100%;
        height: 100%;
        -ms-grid-row: 3;
        display: -ms-grid;
        -ms-grid-columns: 120px 1fr;
        -ms-grid-rows: 1fr;
    }

    #backbutton
    {
        margin-top: 54px;
        margin-left: 40px;
    }

    #content
    {
        width: 100%;
        height: 100%;
        -ms-grid-row: 2;
    }

    #articlecontent
    {
        -ms-grid-row: 3;
        border: dashed;
    }


    .listItemTemplate
    {
        margin: 5px;
    }

    .win-surface
    {
        margin-left: 30px;
    }

    #articlecontent
    {
        width: calc(100%-120px);
        height: 100%;
        padding-left: 80px;
        column-width: 480px;
        column-gap: 80px;
        overflow-x: scroll;
        overflow-y: hidden;
    }

        #articlecontent pre
        {
            background-color: #666;
            overflow-x: scroll;
            overflow-y: hidden;
        }
*/
}

@media screen and (-ms-view-state: filled)
{
}

@media screen and (-ms-view-state: snapped)
{
}

@media screen and (-ms-view-state: fullscreen-portrait)
{
}


/*.red
{
    background-color: red;
    margin-left: 20px;
    margin-left: 20px;
    margin-bottom: 20px;
    margin-right: 20px;
}

.div1
{
    margin-left: 20px;
    margin-left: 20px;
    margin-bottom: 20px;
    margin-right: 20px;
}*/

@media screen and (-ms-view-state: snapped)
{
}

@media screen and (-ms-view-state: fullscreen-portrait)
{
}
