.red { 
    background-color: red; 
    margin-left: 20px;
    margin-left: 20px;
    margin-bottom: 20px;
    margin-right: 20px;
}

.div1{
    margin-left: 20px;
    margin-left: 20px;
    margin-bottom: 20px;
    margin-right: 20px;
}

.game section[role=main] {
    margin-left: 120px;
    margin-right: 120px;
}

@media screen and (-ms-view-state: snapped) {
    .game section[role=main] {
        margin-left: 20px;
        margin-right: 20px;
    }
}

@media screen and (-ms-view-state: fullscreen-portrait) {
    .game section[role=main] {
        margin-left: 100px;
        margin-right: 100px;
    }
}